.App {
  text-align: center;
  background-image: url("assets/shopify.jpeg");
  background-size: cover;
}

.App-header {
  background: rgba(0, 0, 0, 1);
  height: 30px;
  color: white;
  cursor: pointer;
  width: 100vw;
  border-bottom: 1px solid dimgrey;
  display: inline-flex;
}

.App-header h2 {
  margin: auto;
  float: left;
  margin-left: 8px;
  margin-top: 4px;
  font-size: 16px;
  font-weight: 500;
  color: lightgrey;
}

.header-logo {
  margin-top: 2px;
  margin-left: 12px;
  height: 20px;
  width: 20px;
  background-image: url("assets/shopify-logo.png");
  background-size:cover;
}

.App-footer {
  background: rgba(0, 0, 0, 1);
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  color: white;
  padding: 7px;
  cursor: pointer;
  font-style: italic;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.primary-body {
  width: 100%;
}

.nominated-flyout {
  background-color: lightgray;
  width: 20%;
  min-width: 200px;
}

.flyout-content {
  width: 100%;
}

.spinner {
  height: 80px;
  margin: auto;
}

.nominations-flyout-header {
  color: lightgrey;
  height: 3vh; 
  font-size: 2vh;
  padding-top: .25vh;
  font-weight: 500;
  text-align: left;
  outline: 1px solid darkgreen;
  background-color: darkgreen;
  padding-left: 8px;
}

.nomination-button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: darkgreen;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin-left: auto;
  margin-top: 10px;
  height: 30px;
}

.nomination-button:hover {
  background: forestgreen;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.nomination-button-nominated {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: darkslategray;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin-left: auto;
  margin-top: 10px;
  height: 30px;
}

.nomination-button-nominated:hover {
  background: slategray;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.nomination-button-full {
  color: #fff !important;
  opacity: .5;
  cursor: default;
  text-transform: uppercase;
  text-decoration: none;
  background: darkgreen;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  margin-left: auto;
  margin-top: 10px;
  height: 30px;
}

.nomination-button-full:focus {
  outline: 0;
}

* {
  box-sizing: border-box;
}

#movie-list {
  display: flex;
  flex-direction: column;
  width: 56%;
  max-height: 60vh;
  margin-left: 22%;
  overflow-y: scroll;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: calc(-50vh + 10%);
}

.movie-result {
  display: inline-flex;
  padding: 10px 10px;
  border-bottom: 1px solid grey;
  background-color: lightgray;
}

.movie-result-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 50%;
  margin: 0;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.movie-result-title:hover {
  text-decoration: underline;
}

.movie-result-year {
  margin: 0;
  color: darkslategray;
}

.movie-title-div {
  width: 60%;
  text-align: left;
}

.nominated-movie-image {
  display: flex;
  height: 100%;
  margin-top: 6.25%;
  padding-left: 5%;
}

.nominated-movie-title-div {
  margin: auto 0;
  text-align: right;
  margin-left: auto;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
}

.nominated-movie-title {
  font-size: 2vh;
  color: darkgreen;
  text-decoration: none;
}

.nominated-movie-title:hover {
  text-decoration: underline;
}

.remove-nomination-button {
  background: none;
  border: none;
  margin-left: auto;
  font-weight: 900;
  color: darkred;
  outline: none;
  font-size: 2vh;
}

.remove-nomination-button:hover {
  color: red;
  cursor: pointer;
}

.add-movies {
  text-align: center;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.movie {
  display: flex;
  height: 19%;
  margin: 0 5%;
  border-top: 1px solid darkgreen;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  outline: darkgreen;
}

.search-icon-label {
  height: 30px;
  width: 30px;
  margin-left: -30px;
}

.search-page {
  margin-top: 5%;
  margin-bottom: 5%;
}

.search-button-div {
  height: 30px;
  width: 30px;
  background-color: darkgreen;
  margin-left: -30px;
  outline: none;
  border-radius: 0 5px 5px 0;
}

.search-button-div:hover {
  background-color: forestgreen;
}

.svg-icon { 
  fill: lightgrey;
  border-radius: 0 5px 5px 0;
  outline: none;
}

.svg-icon:hover {
  background-color: forestgreen;
}

.loading { 
  color: white;
}

.no-movies-flyout-text {
  font-style: italic;
  margin-top: calc(47vh - 30px);
}

.homepage-search {
  display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    margin-top: 40vh;
}

.homepage-search h1 { 
  color: white;
  font-size: 8vh;
  margin: 0;
  margin-top: -3vh;
}


.homepage-search h2 {
  color: lightgrey;
  font-weight: 300;
  font-size: 1.75vh;
  margin-bottom: 5vh;
}

.homepage-splitter {
  margin-top: 6px;
  width: 100%;
  height: 1px;
   background-color: dimgrey;
}


#arrow-left {
  border: solid forestgreen;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

#arrow-left.hide { 
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#arrow-left.show { 
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}

input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: black;
  border: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}

#roundButton {
  background-color: lightgrey;
  width: 30px;
  height: 60px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-left: calc(100vw - 28px);
  margin-right: 5px;
  margin-top: calc(50vh - 10% - 80px);
  border: none;
  outline: none;
  transition: transform .5s
              cubic-bezier(0, .52, 0, 1);
}
 
#roundButton:hover {
  background-color: white;
  cursor: pointer;
  transform: scale(1.2, 1.2);
}
 
#roundButton:active {
  background-color: #FFF;
}

#roundButton.hide { 
  transform: translate3d(0vw, 0, 0);
}

#roundButton.show { 
  transform: translate3d(-20vw, 0, 0);
}

#flyoutMenu {
  width: 20vw;
  height: calc(100vh - 60px);
  margin-top: 30px;
  background-color: lightgray;
  position: fixed;
  top: 0;
  left: 100vw;
  transition: transform .5s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}
 
#flyoutMenu.hide {
  transform: translate3d(0vw, 0, 0);
}
 
#flyoutMenu.show {
  transform: translate3d(-20vw, 0, 0);
  overflow: hidden;
}
 
#flyoutMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}
 
#flyoutMenu h2 a:hover {
  text-decoration: underline;
}

.search > input[type="text"]{
  width: 40vw;
  min-width: 170px;
  outline-color: darkgreen;
  border: 1px solid darkgreen;
  border-radius: 5px;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 0 5px 5px 0;
  border-bottom: 1px solid grey;
}

*::-webkit-scrollbar-thumb {
  background: darkgreen;
  border-radius: 10px;
  border: 1px solid lightgrey;
}
*::-webkit-scrollbar-thumb:hover {
  background: forestgreen;
  border-radius: 10px;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}


@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}
